/*
Syntax error: File to import not found or unreadable: functions/_grid.scss.
              Load path: /Users/defo/Templates/css/css-grid
        on line 10 of css/libs/app.scss

5: // 	Concatenate all sass files into main.css.
6: //	Run sass --watch css/libs/app.scss:css/main.css 
7: // ------------------------------------------------------------
8: 
9: // functions
10: @import 'functions/_grid.scss';
11: 
12: 
13: // mixins
14: @import 'mixins/_prefixr.scss';
15: @import 'mixins/_box.scss';

Backtrace:
css/libs/app.scss:10
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/import_node.rb:42:in `import'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:227:in `rescue in visit_import'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:232:in `visit_import'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/engine.rb:315:in `_render'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/engine.rb:262:in `render'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/plugin/compiler.rb:200:in `each'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: functions/_grid.scss.\A               Load path: /Users/defo/Templates/css/css-grid\A         on line 10 of css/libs/app.scss\A \A 5: // 	Concatenate all sass files into main.css.\A 6: //	Run sass --watch css/libs/app.scss:css/main.css \A 7: // ------------------------------------------------------------\A 8: \A 9: // functions\A 10: @import 'functions/_grid.scss';\A 11: \A 12: \A 13: // mixins\A 14: @import 'mixins/_prefixr.scss';\A 15: @import 'mixins/_box.scss';"; }
