/*
Syntax error: Invalid CSS after "   -": expected number or function, was "---------------..."
        on line 3 of css/libs/_extensions.scss
        from line 16 of css/libs/app.scss

1: // -----------------------------------------------------------------------------
2: // Extensions (Placeholders)
3:    -------------------------------------------------------------------------- //
4: 
5: //
6: // Extensions file is for defining placeholders that can extend rulesets
7: // throughout your project.
8: //

Backtrace:
css/libs/_extensions.scss:3
css/libs/app.scss:16
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:1130:in `expected'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:1066:in `expected'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:1048:in `expr!'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:905:in `term'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:880:in `expr'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:654:in `simple_selector_sequence'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:623:in `_selector'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:602:in `selector'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:586:in `selector_sequence'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:511:in `ruleset'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:536:in `block_child'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:526:in `block_contents'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/scss/parser.rb:27:in `parse'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/engine.rb:342:in `_to_tree'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/engine.rb:274:in `to_tree'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:222:in `visit_import'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/engine.rb:315:in `_render'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/engine.rb:262:in `render'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/plugin/compiler.rb:200:in `each'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/defo/.rvm/gems/ruby-1.9.2-head/gems/sass-3.3.0.alpha.3/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"   -\": expected number or function, was \"---------------...\"\A         on line 3 of css/libs/_extensions.scss\A         from line 16 of css/libs/app.scss\A \A 1: // -----------------------------------------------------------------------------\A 2: // Extensions (Placeholders)\A 3:    -------------------------------------------------------------------------- //\A 4: \A 5: //\A 6: // Extensions file is for defining placeholders that can extend rulesets\A 7: // throughout your project.\A 8: //"; }
